.main{
    font-family: lato;
}

.minha-carteira{
    position: absolute;
    width: 1234px;
    height: 258px;
    left: 642px;
    top: 190px;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.meus-invetimentos{
    position: absolute;
    width: 1234px;
    height: 552px;
    left: 642px;
    top: 483px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px;
}
.ColInvestidor{
    width: 571px;
    height: 848px;
    left: 41px;
    top: 187px;
    position: absolute;
    float: left; 
    margin-top: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.ColInvestidor #cabecalho {
    float:center;
    height: 100px;
    margin:10px;
    text-align: center;
    font-family: lato;
    font-size: 70px;
    color: #FFFFFF;
    background-color: #46DA96;
    
}
.Card{
    text-align: justify;
    align-items: center;
    margin: 10px;
    height: 120px;
    margin:30px;  
}
.cBtn{
    float: center;
}
.cImg{
    width: 50px;
    height: 200px;
}


